---
import Background from "../components/Index/Background.astro";
import Blog from "../components/Index/Blog.astro";
import Certification from "../components/Index/Certification.astro";
import Contribution from "../components/Index/Contribution.astro";
import BaseHead from "../components/layout/BaseHead.astro";
import Footer from "../components/layout/Footer.astro";
import Header from "../components/layout/Header.astro";
import { SITE_DESCRIPTION, SITE_IMG, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={SITE_IMG}
    />
  </head>
  <body>
    <Header />
    <main>
      <div>
        <Certification />
        <Background />
        <Blog />
        <Contribution />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
</style>
