.body {
	background-color: #0a1e69;
	color: #edf1ff;
	padding: 2rem 2rem 2rem;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	@media (width <= 768px) {
		padding: 2rem 1rem 3rem;
		font-size: 1rem;
	}
}
