.wrap {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
	width: 60%;

	@media (width <= 768px) {
		width: 90%;
	}
}

.title {
	display: flex;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap;
	font-size: 1.875rem;
}

@keyframes iconFadein {
	0% {
		transform: translateX(-40vw) rotate(9000deg);
	}
	100% {
		transform: translateX(0%) rotate(0deg);
	}
}

.icon {
	animation: iconFadein 3s ease-out;
}

.links {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.linkImg {
	width: 1.5rem;
	height: 1.5rem;
}

.sections {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

}

.lastUpdated {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;
	margin-top: 1rem;
}
