.ul {
	list-style: none;
	list-style-position: inside;

	&[data-is-nested="true"] {
		margin-left: 2rem;
	}
}

.li {
	line-height: 2rem;

	&[data-is-nested="true"] {
		margin-left: 2rem;
	}
	&::before {
		content: "•";
		display: inline;
		margin-right: 0.5rem;
		@media (width <= 768px) {
			margin-right: 0;
		}
	}
}
