.arrow::before {
	@apply block w-4 h-4 border-t-3 border-r-3 border-cyan-300;
	content: "";
	transform: rotate(-135deg);
}
.arrow::after {
	@apply block w-4 h-4 border-t-3 border-r-3 border-cyan-300;
	content: "";
	transform: rotate(45deg);
}

.arrow {
	@apply flex items-center;
}
