---
import { SITE_TITLE } from "../../consts";
import Layout from "../../components/layouts/Layout.astro";
---

<Layout title={`Advent Calendar 2025 - ${SITE_TITLE}`} maxWidth={1200}>
  <div>
    <p>
      諸々の事情により、Advent Calendar 2025は中止になりました。<br />
      なお、GitHub上には残っていますので、どうしても見たい方はそちらをご覧ください。
    </p>
    <ul>
      <li>
        <a
          href="https://github.com/mehm8128/mehm8128-portfolio/pulls?q=sort%3Aupdated-desc+is%3Apr+is%3Aclosed+is%3Anot-merged+is%3Aunmerged+"
          >当初予定していたWeb Componentsアドベントカレンダー12記事</a
        >
      </li>
      <li>
        <a
          href="https://github.com/mehm8128/mehm8128-portfolio/commit/678500b1ecf406058e0ad5d8bd2dcb5e3138d58a"
          >Biomeアドベントカレンダー5記事</a
        >
      </li>
    </ul>
  </div>
</Layout>
