.content h2 {
  color: var(--color-accent);
  margin: 2rem 0 1rem 0;
  font-size: var(--font-size-2xl);
}

.content h3 {
  margin: 1.5rem 0 0.75rem 0;
  font-size: var(--font-size-xl);
}

.content h4 {
  margin: 1.25rem 0 0.5rem 0;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semibold);
}

.content h2 a,
.content h3 a,
.content h4 a {
  text-decoration: none;
}

.content h2 a:not(:hover, :focus) .icon-link,
.content h3 a:not(:hover, :focus) .icon-link,
.content h4 a:not(:hover, :focus) .icon-link {
  display: none;
}
