.content ul ul,
.content ol ol {
  margin: 0;
}

.content ul,
.content ol {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.content li {
  margin: 0.5rem 0;
  line-height: var(--line-height-relaxed);
}

.content ul li {
  list-style-type: disc;
}

.content ol li {
  list-style-type: decimal;
}

.content ul ul li {
  list-style-type: circle;
}

.content ol ol li {
  list-style-type: lower-alpha;
}
