---
import UList from "../components/UList.astro";
import ListItem from "../components/ListItem.astro";
import SectionWrap from "../components/SectionWrap.astro";
import { blogs } from "./blogs";
---

<SectionWrap headingText="Blogs">
  <UList>
    {
      blogs.map((blog) => (
        <ListItem>
          <a href={blog.link}>{blog.title}</a>
        </ListItem>
      ))
    }
  </UList>
</SectionWrap>
