---
import UList from "../components/UList.astro";
import ListItem from "../components/ListItem.astro";
import SectionWrap from "../components/SectionWrap.astro";
---

<SectionWrap headingText="Certifications">
  <UList>
    <ListItem>
      <a href="https://zenn.dev/mehm8128/articles/trusted-tester">
        DHS Trusted Tester Certification
      </a>
    </ListItem>
    <ListItem>
      <a href="https://sizu.me/mehm8128/posts/sfuw6k948udz">
        kintone認定アソシエイト
      </a>
    </ListItem>
  </UList>
</SectionWrap>
